<h1>{{store.name}}</h1>
<h3>Store Branches: {{store.branches}}</h3>
<img src={{store.logo}} width="200">
<hr>
<p>Cient Name: {{ClientName}}</p>
<div>
  <h4>{{product.name}}</h4>
  <ul>
    <li>Course ID: {{product.ID}}</li>
    <li>Course quantity: {{product.quantity}}</li>
    <li>Course Price: {{product.price}}</li>
    <li>
      Category info
      <!-- <ol>
        <li>ID: {{product.cateogry.ID}}</li>
        <li>cat name: {{product.cateogry.name}}</li>
      </ol> -->
    </li>
    <li><img src={{product.img}} width="150"></li>
  </ul>
</div>